body{
    margin: 0;
    font-family: sans-serif;
}
.header{
    padding: 0 128px 0 128px;
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.header img{
    max-width: 10%;
    height: auto;
}
h1{
    color: #F9FAF8;
    font-size: 24px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
    flex-shrink: 0;
}
a{
    color: #E5E7EB;
    font-size: 24px;
    text-decoration: none;
}
.image{
    width: 500px;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding: 64px 128px 64px 128px;
    align-content: center;
    background: #1F2937;
    flex-shrink: 0;
    
}
.hero-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.hero-para p{
    color: white;
    font-size: 18px;
}
.hero-para{
    width: 750px;
    flex-shrink: 0;
}
button{
    color:#F9FAF8;
    background-color: #3882F6;  
    border-radius: 8%;
    font-size: 18px;
    padding: 4px 16px 4px 16px;
    border: 0;
}

.info-text{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 64px;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 8%;
}
.info-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 200px;

}
.r1{
    width: 250px;
    height: 250px;
}
.quote{
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;
    padding: 85px;
    align-items: center;
    flex-direction: column;
}
.quote-text{
    width: 1100px;
    font-style:italic;
}
.god{
    text-indent: 12em;
    font-weight: 900;
}
.sign-up{
    border-color: black;
    

}
.call-to-action{
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 64px auto ;
    padding: 32px 64px;
}
.sign-up{
    border: 4px solid whitesmoke;
}
.text-imp{
    color: whitesmoke;
    padding :8px;
}
.text{
    font-weight: bold;
}
.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}